.gridItem {
  padding: 16px;
}

.photo {
  width: 100%;
  object-fit: contain;
}

.content {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
