.iconButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgb(75, 75, 75);
}

.iconButton:hover {
  background-color: rgb(100, 100, 100);
}

.iconButton:active {
  background-color: rgb(50, 50, 50);
}
